.titlebar{
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin: 10px;
    padding: 5px;
    height: 40px;
}
.authentication > * {
    width: 50px;
    border-radius: 7px;
    margin: 5px;
    padding: 10px;
}
.signInBtn{
    background-color: #fff;
}
.signUpBtn{
    color: #fff;
    background-color: #333;
}
