.titlebar{
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1vh;
    padding: 1vh;
    height: 6vh;
}
.authentication > span {
    width: 50px;
    border-radius: 7px;
    margin: 5px;
    padding: 10px;
}
.signInBtn{
    background-color: #fff;
}
.signUpBtn{
    color: #fff;
    background-color: #333;
}
